@import '../../styles/variables';

.container {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(5%, 1fr) repeat(8, minmax(100px, 300px)) minmax(5%, 1fr);
  align-items: flex-end;
  padding: 3em 0;
  border-bottom: $rule;
  position: relative;
  &:last-child {
    border-bottom: none;
  }
  @media (max-width: 890px) {
    grid-template-columns: repeat(5, minmax(100px, 200px));
  }
  @media (max-width: 500px) {
    grid-template-columns: repeat(3, minmax(100px, 200px));
  }
  .title {
    grid-column: 2 / -2;
    position: relative;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.5);
    &::before {
      content: '';
      width: 2px;
      height: 1.5em;
      background: $palette-brand-secondary;
      position: absolute;
      margin-left: -1em;
      top: -0.1em;
    }
    @media (max-width: 890px) {
      grid-column: 1 / -2;
      margin-left: 2em;
    }
  }
  .unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }
  &__button--all {
    grid-column: -3;
    align-self: center;
    padding: 5px 10px;
    width: 180px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    height: 40px;
    color: #333;
    background: $palette-brand-tertiary;
    transition: all 0.2s ease-in;
    opacity: 1;
    animation: fadeIn 0.8s ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: 0.1s;
    animation-play-state: running;
    -webkit-backface-visibility: hidden;
    &__cursive {
      font-family: 'Calligraffitti', cursive;
      text-transform: lowercase;
      font-size: 1.1rem;
    }
    &:hover {
      background: rgba(233, 206, 194, 0.7);
    }
    @media (max-width: 1390px) {
      grid-column: -4 / span 2;
    }
    @media (max-width: 890px) {
      grid-column: 3;
      justify-self: center;
    }
    @media (max-width: 500px) {
      grid-column: 2;
    }
    @media (max-width: 600px) {
      margin-top: 2em;
    }
  }
  .items {
    grid-column: 1 / -1;
    align-self: flex-start;
    margin: 1em 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 450px));
    justify-content: center;
    grid-gap: 8px;
    @media (max-width: 370px) {
      grid-template-columns: repeat(auto-fit, minmax(340px, 450px));
    }
    @media (max-width: $breakpoint--md) {
      grid-column: 2 / -2;
    }
    // grid-column-end: -2;
  }
  .item {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-bottom: 18px;
    background-size: cover;
    text-align: center;
    opacity: 1;
    animation: fadeIn 0.8s ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: 0.1s;
    animation-play-state: running;
    -webkit-backface-visibility: hidden;
    transition: box-shadow 0.5s $ease-in--quint;
    &:hover {
      box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 8%);
    }
    &__link {
      justify-content: flex-end;
      align-self: center;
      margin: 0.5em;
      margin-bottom: 1em;
      line-height: 1.4;
      a {
        text-decoration: none;
        color: #555;
        font-size: 1.5rem;
        padding-bottom: 0.15em;
        cursor: pointer;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 700;
        border-bottom: 1px solid rgb(233, 206, 194);
        transition: color 0.2s ease-in;
        -moz-transition: color 0.2s ease-in;
        &:hover {
          color: #888;
        }
      }
    }
    &__container__button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: auto;
      margin-bottom: 8px;
      &--center {
        justify-content: center;
      }
      &__image {
        width: 30px;
        height: 40px;
        border-radius: 50%;
        &--default {
          height: 33px;
          background: #e6e3e3;
        }
      }
      &__author {
        display: flex;
        flex-direction: row;
        align-items: center;
        &__image__container {
          width: 35px;
          height: 35px;
          margin: 0 10px;
        }
        &__name__container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
        &__name {
          margin: 0;
          font-size: 0.9rem;
          color: #333;
          margin-left: 0;
          padding-left: 0;
          font-family: 'Barlow Condensed', sans-serif;
          font-weight: 600;
        }
        &__date {
          margin: 0;
          font-size: 0.9rem;
          font-family: 'Barlow Condensed', sans-serif;
          color: #888;
        }
      }
    }
    &__button {
      align-self: center;
      margin-top: auto;
      margin-right: 10px;
      border: 1px solid rgb(233, 206, 194);
      box-shadow: none;
      color: #555;
      font-size: 1rem;
      &:hover {
        color: #888;
        box-shadow: $box-shadow-button;
      }
    }
    &__image {
      width: 100%;
      object-fit: cover;
      height: 275px;
      border-radius: 3px;
      cursor: pointer;
      transition: opacity 0.2s ease-in;
      &--default {
        height: 258px;
        background: #e6e3e3;
      }
      &:hover {
        opacity: 0.8;
      }
    }
    &__description {
      margin-top: 0;
      margin-bottom: 2em;
      padding: 0 8px;
      font-weight: 300;
      color: #4d5156;
      font-family: 'Roboto', arial, sans-serif;
      text-align: justify;
      line-height: 1.45;
    }
  }
  .icon__right {
    vertical-align: middle;
  }
  .filter--show {
    position: fixed;
    padding: 2px;
    height: 30px;
    width: 100%;
    z-index: 100;
    background: #cebf37;
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', arial, sans-serif;
    cursor: pointer;
    @media (max-width: 800px) {
      position: absolute;
      bottom: 0;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
