@import '../../../../styles/variables';

.container {
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 30px;
  min-height: 300px;
  text-align: left;
  background: rgba(247, 244, 244, 0.7);
  &--blog--icons {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
  }
  .share {
    position: absolute;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 40%;
    left: 0;
    transform: translate3d(0, 0, 0);
    width: 100px;
    animation: displayIcons 0.8s ease-in-out;
    &--hide {
      display: none;
    }
    @media (max-width: 1000px) {
      display: none;
    }
    &__title {
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
      padding-bottom: 5px;
      color: #555;
      font-family: 'Rock Salt', cursive;
    }
  }
  .markdown {
    margin: 0 auto;
    margin-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.9;
    max-width: 600px;
    text-align: justify;
    letter-spacing: 0.3px;
    color: #333333;
    animation: text-focus 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    &__video {
      padding: 0;
      max-width: 650px;
    }
    img {
      width: 100%;
      height: auto;
    }
    a {
      color: #555555;
    }
  }
  .button__comment {
    &__container {
      display: flex;
      justify-content: center;
      margin: 40px auto;
      width: 100%;
    }
    margin: 0 auto;
    border: 1px solid #e9cec2;
    text-align: center;
    color: #333;
    font-size: 1rem;
    background: #ffffff;
  }
}

@keyframes text-focus {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.markdown > p:first-child:before {
  content: '';
  margin: 0 auto;
  margin-right: 5px;
  border-left: 2px solid $palette-brand-secondary;
}

.markdown > h2:first-child:before {
  content: '';
  margin: 0 auto;
  margin-right: 5px;
  border-left: 2px solid $palette-brand-secondary;
}

.markdown > h3:first-child:before {
  content: '';
  margin: 0 auto;
  margin-right: 5px;
  border-left: 2px solid $palette-brand-secondary;
}
