@import '../../../../styles/variables';

.container {
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 30px;
  min-height: 300px;
  text-align: left;
  background: rgba(247, 244, 244, 0.7);
  .markdown {
    margin: 0 auto;
    margin-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.9;
    max-width: 600px;
    text-align: justify;
    letter-spacing: 0.3px;
    color: #333333;
    animation: text-focus 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    &__video {
      padding: 0;
      max-width: 650px;
    }
    img {
      width: 100%;
      height: auto;
    }
    a {
      color: #555555;
    }
  }
}

@keyframes text-focus {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.markdown > p:first-child:before {
  content: '';
  margin: 0 auto;
  margin-right: 5px;
  border-left: 2px solid $palette-brand-secondary;
}

.markdown > h2:first-child:before {
  content: '';
  margin: 0 auto;
  margin-right: 5px;
  border-left: 2px solid $palette-brand-secondary;
}

.markdown > h3:first-child:before {
  content: '';
  margin: 0 auto;
  margin-right: 5px;
  border-left: 2px solid $palette-brand-secondary;
}
