.container {
  margin: 0 auto;
  margin-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 1.9;
  max-width: 600px;
  font-family: 'Calligraffitti', cursive;
  &__about {
    padding-left: 0;
  }
  .signature {
    font-size: 1.4rem;
    margin-top: -10px;
    margin-left: 5px;
  }
  .xo {
    font-size: 1rem;
    margin-bottom: -5px;
  }
}
