.container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  .posts {
    &--none {
      align-self: center;
      color: #333333;
      font-family: 'Barlow Condensed', sans-serif;
      font-size: 1.2rem;
    }
  }
}
