$palette--primary: #f7f7f7;
$primary: #2c2e2e;
$secondary: #585a59;
$errorValidation: #ec1b1b;
$success: #27c013;
$palette-brand-secondary: #cebf37;
$palette-brand-tertiary: rgb(245, 219, 208);
$palette-tertiary-hex: #f5dbd0;
