.footer__social {
  display: flex;
  &--sidebar {
    margin-top: 15px;
  }
}

.icon {
  &__container {
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    width: 40px;
    &__sidebar {
      
    }
  }
  &__link {
    svg {
      cursor: pointer;
      transition: 0.2s ease-in;
      &:hover {
        fill: #979494;
      }
    }
  }
}