@import '../../styles/variables';

.container {
  position: relative;
  background: #ffffff;
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
  padding-top: 5px;
  margin-top: -80px;
  z-index: 50;
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  transition: margin-top 0.3s ease-out;
  animation: 1.2s ease-out backwards recipeDetails;
  @media (max-width: 625px) {
    margin-top: -150px;
  }
  &--scrolled {
    margin-top: 0;
  }
  .details {
    &__hr {
      width: 140px;
      margin: 0 auto;
      margin-top: 22px;
      border: none;
      border-top: 4px solid $palette-brand-tertiary;
      cursor: pointer;
    }
  }
}

@keyframes recipeDetails {
  from {
    opacity: 0;
    transform: translateY(1000px);
  }
  to {
    transform: translateY(0);
  }
}
