@import '@styles/variables';

.filter {
  &--show {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 100;
    background: $palette-brand-tertiary;
    text-align: center;
    cursor: pointer;
    height: 34px;
  }
  &--hide {
    display: none;
  }
}

.btn {
  border: none;
  background: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1rem;
  color: #333333;
}
