$accent: #cebf37;
$breakpoint--md: 800px;

.header {
  display: grid;
  grid-template-columns: minmax(5%, 1fr) repeat(6, minmax(100px, 200px)) minmax(
      5%,
      1fr
    );
  overflow: hidden;
  @media (max-width: 800px) {
    grid-template-columns: 5% repeat(2, minmax(250px, 500px)) 5%;
  }
  @media (max-width: 600px) {
    grid-template-columns: minmax(10px, 50px) 1fr minmax(10px, 50px);
  }
  @media (max-width: 800px) {
    flex-flow: column;
    margin-bottom: 0;
    border-bottom: none;
  }
  &__container {
    grid-column: 2/-2;
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
    padding: 0 2em 0.5em;
    align-items: center;
    @media (max-width: 800px) {
      flex-flow: column;
      margin-bottom: 0;
    }
  }
  .logo {
    &__container {
      grid-column: 2 / span 2;
      text-align: center;
    }
    &__image {
      max-width: 170px;
      height: auto;
    }
  }
  .nav {
    text-align: center;
    align-self: center;
    flex: 1;
    @media (max-width: 800px) {
      border-top: 0.5px solid rgba(0, 0, 0, 0.12);
      margin-top: 0.5em;
      padding: 1em;
      width: 60vw;
    }
    &__link {
      position: relative;
      float: left;
      margin-top: 5px;
      color: #333333;
      text-align: center;
      margin: 12px 15px;
      text-decoration: none;
      font-size: 0.9rem;
      vertical-align: middle;
      letter-spacing: 1.1px;
      cursor: pointer;
      outline: 0;
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      background: none;
      text-transform: uppercase;
      &::after {
        display: block;
        margin-top: 2px;
        content: "";
        height: 2px;
        background: #888888;
        border-radius: 5px;
        max-width: 0;
        transition: max-width 800ms cubic-bezier(0.22, 1, 0.36, 1);
      }
    }
    &__button {
      display: none;
      margin: 2em auto 2em;
      min-width: 100px;
      font-family: "Poppins", sans-serif;
      font-size: 1rem;
      @media (max-width: 800px) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &__items {
      flex: 2;
      display: flex;
      justify-content: flex-end;
      max-height: 300px;
      list-style: none;
      opacity: 1;
      overflow: hidden;
      transition: all 600ms cubic-bezier(0.22, 1, 0.36, 1);
      @media (max-width: 800px) {
        flex-flow: column;
        text-align: center;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        padding-left: 0;
      }
      li {
        @media (max-width: $breakpoint--md) {
          margin-left: 0;
          padding-bottom: 1em;
        }
        a {
          transition: color 200s cubic-bezier(0.22, 1, 0.36, 1);
          &::after {
            display: block;
            content: "";
            height: 1px;
            background: $accent;
            border-radius: 6px;
            max-width: 0;
            transition: max-width 500ms cubic-bezier(0.22, 1, 0.36, 1);
          }
          &:hover {
          }
        }
      }
      &--hidden {
        @media (max-width: 800px) {
          max-height: 0;
          opacity: 0;
          transition: all 800ms cubic-bezier(0.22, 1, 0.36, 1);
        }
      }
    }
    &__search {
      cursor: pointer;
      margin-left: 15px;
      margin-top: 3px;
    }
    &__chevron {
      transform: rotate(90deg);
      transition: transform 300ms cubic-bezier(0.22, 1, 0.36, 1);
      margin-top: 2px;
      margin-left: 8px;
      &--rotate {
        margin-top: 0;
        margin-left: 10px;
        margin-bottom: 3px;
        transform: rotate(270deg);
        transition: transform 300ms cubic-bezier(0.22, 1, 0.36, 1);
      }
    }
  }
}
